body{
  background-color: rgb(62, 79, 62);
}

h1{
  color: rgb(201, 51, 212);
}

.contenedor-principal{
  background-color: rgba(35, 78, 35, 0.471);
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}